
.contact form {
    padding:30px 60px;
    margin-top:40px;
    margin-bottom: 110px !important;
    background: rgba($color: white, $alpha: .7);
    
    p {
        color:#757575;
    }
}

.social-links {
    padding-bottom:15px;

    svg{
        width:15px !important;
        height: 15px !important;
    }
}

.social-links a{
    margin: 0 5px;
    padding: 6px;
    border-radius: 5px;
    background:$background;
}