body{
    background-color: $background;
    color: $primary-color;
    font-family: $font-stack;

    a {
        &:hover{
            color: #3E4551;
        }
        color: $link;
    }

    img{
        border:.75em solid white;
    }
}

header .view {
  height:450px;
}

h1{
  text-shadow: 0 1px 0 rgba(55, 55, 55, 0.4);
}

main > section{
  padding-top: 20px;
  @include breakpoint("md"){
    padding-top: $header-height;
  }
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-bottom:70px;

  border-right: solid #3E4551 20px;
  border-top: solid #3E4551 20px;
  border-left: solid #3E4551 20px;

  overflow: scroll;

  background: url(../../assets/images/bg-img1.jpg) no-repeat left top;
  background-size: cover;
  padding-top:0;
  @include breakpoint("md"){
    background-size: 50% auto;
  }

  a{
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top:50px;
    left:50px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
  }

  h1{
    color: $link;
    font-family: $font-stack;
    font-size: 32px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 1px;
  }

  .content{
    display: block;
    overflow-y: scroll;
    padding:0 30px;
    width:100%; 
    background: rgba(white, 0.5);
    height:100%;
    @include breakpoint("md"){
      background: none;
      width: 50%;
      float:right;
    }
  }
}
