body{
    background-color: $background;
    color: $primary-color;
    font-family: $font-stack;

    a {
        &:hover{
            color: #3E4551;
        }
        color: $link;
    }

    img {
        border:.75em solid white;
    }
}

header .view {
  height:450px;
}

h1{
  text-shadow: 0 2px 0 rgba(55, 55, 55, 0.4);
}
h5{
    font-family: $font-stack-3;
    //color:$link;
}

.content{
    p{
        font-family:  $font-stack-3;
    }
}

.contact form {
    padding:30px 0;
    margin-top:40px;
    margin-bottom: 110px;
}