<footer class="page-footer center-on-small-only mt-0">
    <!-- <div class="text-center">
            <a href="https://www.facebook.com/Lushes"> <i class="fab fa-facebook-f"></i> </a>
            <a href="https://www.linkedin.com/in/monica-chu-84b73519/"> <i class="fab fa-linkedin-in"></i> </a>
            <a href="https://www.instagram.com/vylite/"> <i class="fab fa-instagram"></i> </a>
            <a href="https://github.com/mchu05"> <i class="fab fa-github"></i> </a>
            <a href="mailto:hi@monicachu.ca?Subject=Hello%20Monica"> <i class="far fa-envelope"></i> </a>
    </div> -->
    <div class="footer-copyright">
        <div class="container-fluid">
            Copyright {{ now.year }}. ♥ All rights reserved.
        </div>
    </div>
</footer>