<footer class="page-footer center-on-small-only mt-0">
    <!-- <div class="text-center">
            <a href=""> <i class="fab fa-facebook-f"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in"></i> </a>
            <a href=""> <i class="fab fa-instagram"></i> </a>
            <a href=""> <i class="fab fa-github"></i> </a>
            <a href=""> <i class="far fa-envelope"></i> </a>
    </div> -->
    <div class="footer-copyright">
        <div class="container-fluid">
            Copyright {{ now.year }}. ♥ All rights reserved.
        </div>
    </div>
</footer>