{#
 # Layout template
 # ---------------
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

	<link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/styles/mdb.css" />

    <link rel="stylesheet" type="text/css" href="./assets/styles/styles.css?eheh">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<body>

	{% include "_nav.html" %}
    
    <header>
        <!-- background image -->
        {% if entry.pageImg %}
            {% set asset = entry.pageImg.first() %}
        {% endif %}
		<div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('{{ asset.getUrl() }}')">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="intro-info-content text-center">
                                {% if entry.title %}
                                <h1 class="display-1 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">
                                    {{ entry.title }}
                                </h1>
                                {% endif %}
                                
                                <!-- Subtitle -->
                                <h5 class="font-up mb-5 mt-1 spacing font-bold wow fadeInDown" data-wow-delay="0.3s">
                                    Front End Developer | Nerd
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</header>

	<main class="pb-0">

        {% block content %}
            <p>Oops! Something didn't get loaded propery. <a href="/contact-us" title="Contact Us">Contact Us</a> and let us what you saw. Thank you :)</p>
        {% endblock %}

        {% include "_footer.html" %}
    </main>

	<!-- <main class="pb-0">
		<section class="home">
			<div class="content">
				<h1>{{ siteName }}</h1>
				{% if entry.body %}
					{{ entry.body }}
				{% endif %}
			</div>
			<footer class="page-footer center-on-small-only mt-0">
				<div class="footer-copyright">
					<div class="container-fluid">
						Copyright {{ now.year }}. ♥ All rights reserved.
					</div>
				</div>
			</footer>
		</section>
	</main> -->

	<script type="text/javascript" src="./assets/js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="./assets/js/popper.min.js"></script>

    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="./assets/js/mdb.min.js"></script>

    <script type="text/javascript" src="./assets/js/jarallax.js"></script>

	<script type="text/javascript" src="./assets/js/scripts.js"></script>

    <script>
        new WOW().init();
    </script>
	
</body>
</html>
