<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a class="waves-effect waves-light" href="./" data-content="It doesn't matter where you are coming from. All that maters is where you are going &#8209;Brain&nbsp;Tracy">Home</a></li>
            <li><a class="waves-effect waves-light" href="./about" data-content="If passion drives you, let reason hold the reins. &#8209;Benjamin&nbsp;Franklin">About</a></li>
            <li><a class="waves-effect waves-light" href="{{ url('blog') }}" data-content="Champions keep playing until they get it right. &#8209;Billie&nbsp;Jean&nbsp;King">Blog</a></li>
            <li><a class="waves-effect waves-light" href="./work" data-content="Spread love everywhere you go. Let no one ever come to you without leaving happier &#8209;Mother&nbsp;Teresa">Works</a></li>
            <li><a class="waves-effect waves-light" href="./contact" data-content="One of the things I've learned is to be receptive of feedback &#8209;Ben&nbsp;Silbermann">Contact</a></li>
        </ul>
    </nav>
</div>

<div class="open-overlay">
    <span class="bar-top"></span>
    <span class="bar-middle"></span>
    <span class="bar-bottom"></span>
</div>