{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://monicachu.ca/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="container">
	<div class="row mt-4 pt-lg-4 wow fadeIn" data-wow-delay="0.2s">
		<div class="col-md-5">
			<div class="view overlay hm-white-light z-depth-1-half">
				<img src="/assets/images/me-3.jpg" class="img-fluid " alt="">
				<div class="mask">
				</div>
			</div>
			<br>
		</div>

		<div class="col-md-6 wow fadeIn content" data-wow-delay="0.2s" id="about">
			<h2 class="h2-responsive font-bold dark-grey-text">Hi I'm Monica C.</h2>
			<hr>
			{% if entry.body %}
				{{ entry.body }}
			{% endif %}
		</div>
	</div>

	<hr class="my-5">
	
	<h3 class="text-center">Instagram Feed</h3>
	<div class="row pt-4 mb-4" id="instafeed">
		<div class="col-md-4">
			<div class="card mb-r wow fadeIn" data-wow-delay="0.4s">
				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/65.jpg" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title text-center dark-grey-text">
						<strong>Card title</strong>
					</h4>
					<hr>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-r wow fadeIn" data-wow-delay="0.6s">
				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/64.jpg" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title text-center dark-grey-text">
						<strong>Card title</strong>
					</h4>
					<hr>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-r wow fadeIn" data-wow-delay="0.8s">
				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/72.jpg" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title text-center dark-grey-text">
						<strong>Card title</strong>
					</h4>
					<hr>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid pb-0" style="background-color: #f4f4fa">
	<div class="container py-4">
		<section id="services" class="section mt-3 mb-3 pb-3">
			<h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-bold wow fadeIn" data-wow-delay="0.2s">
				<strong>My services</strong>
			</h3>
			<div class="row wow fadeIn" data-wow-delay="0.4s">
				<div class="col-md-6 mb-r text-center">
					<div class="card card-body text-left white hoverable">
						<p class="feature-title title font-bold dark-grey-text font-up spacing mt-4 mx-4">
							<strong>Web/Front End Development</strong>
						</p>
						<p class="grey-text font-small mx-4">
							I consider myself a pretty well versed Front-End Developer. My main expertise is creating Front end solutions! if you have a design you'd like to have up on the internet please give me a shout, willing to assit with the front end architecture. I'm also willing to assit with a customized approaches.
							<!-- <p class="font-small font-bold indigo-text mx-4 mb-0">
								<a>read more</a>
							</p> -->
						</p>
					</div>
				</div>
				<div class="col-md-6 mb-r text-center">
					<div class="card card-body text-left white hoverable">
						<p class="feature-title title font-bold dark-grey-text font-up spacing mt-4 mx-4">
							<strong>Derping + Fun</strong>
						</p>
						<p class="grey-text font-small mx-4">Hobbies include derping around, listening to chill music, wanting to find a soul mate to attend festivals with. Going to places anywhere cool or hip, and cooking experiments!
							<!-- <p class="font-small font-bold indigo-text mx-4 mb-0">
								<a>read more</a>
							</p> -->
						</p>
					</div>
				</div>
				<div class="col-md-6 mb-r text-center">
					<div class="card card-body text-left white hoverable">
						<p class="feature-title title font-bold dark-grey-text font-up spacing mt-4 mx-4">
							<strong>Marketing and Branding</strong>
						</p>
						<p class="grey-text font-small mx-4">
							I like to help with branding, I like things to be in order anything technical SEO?? T-shirt ordering? projecting my POV lessons learned?? Let me know what you need help with!
							<!-- <p class="font-small font-bold indigo-text mx-4 mb-0">
								<a>read more</a>
							</p> -->
						</p>
					</div>
				</div>
				<div class="col-md-6 mb-r text-center">
					<div class="card card-body text-left white hoverable">
						<p class="feature-title title font-bold dark-grey-text font-up spacing mt-4 mx-4">
							<strong>Planning</strong>
						</p>
						<p class="grey-text font-small mx-4">
							This one is my favourite!! -It's just event or trip planning. I like to do it for myself for fun but the major problem is I have a limited time and run out of things to plan!! :P
							If you just want to get stuff done I can help!!
							<!-- <p class="font-small font-bold indigo-text mx-4 mb-0">
								<a>read more</a>
							</p> -->
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% set img, caption = '{{image}}','{{caption}}' %}
<script type="text/javascript" src="./assets/js/instafeed.js"></script>

<script type="text/javascript">
	var feed = new Instafeed({
		get: 'user',
		userId: '22975752',
		accessToken:'22975752.2a7da3a.1480ebd7ccad458dad109aa95357c24f',
		limit: '9',
		sortBy: 'most-recent',
		// target: 'instafeed',
		//tagName: 'awesome',
		resolution: 'standard_resolution',
		clientId: '2a7da3a55dab4e5da71adfa0448293c7',
		template: '<img src="{{img}}" alt="{{caption}}" /> <p>{{caption}}</p>'
	});
	feed.run();
</script>

	<!-- <h1>{{ entry.title }}</h1>

	{{ entry.body }}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul> -->
{% endblock %}
